@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
body {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  color: #1f2a55;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainMenu {
  top: 0 !important;
  height: 77px;
}
.normal {
  background-color: #2886ee;
  box-shadow: 0 2px 4px rgba(0,0,0,.43);
}
.navbar-brand img {
  width:115px;
}
.navbar-nav a{
  color: #ffffff !important;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}
.navbar-nav a::before {
 content: '';
 position: absolute;
 width: 30px;
 height: 3px;
 border-radius: 3px;
 background-color: #ffffff;
 bottom: 0;
 display: none;
}
.navbar-nav a.active::before {
  display: block;
}
.navbar-nav a:hover {
  color: #fff;
}

.yellow {
  color: #fcda55;
}
.borderClass {
  border-bottom: solid 2px #e2ebef;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 15px;
}
.footer{
  background-image: linear-gradient(82deg, #207cee -3%, #73caf3 119%);
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.footer p {
  margin-bottom: 0;
}
.footer a {
  color: #fff;
  font-weight: 600;
}

.Book {
  width: 291px;
  height: 41px;
  background-color: #f5a623 !important;
  text-align: left;
  float: left;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .navbar-light .navbar-toggler-icon {
    background-image: url(../src/Assets/ham.svg) !important;
  }
  .navbar-light .navbar-toggler {
    border-color: rgb(255, 255, 255) !important; 
  }
  .navbar-collapse {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-collapse .nav-link {
    color: #000 !important;
    text-align: left;
    margin-bottom: 10px;
  }
  .navbar-collapse .nav-link:hover {
    border-bottom: 2px solid rgb(40, 134, 238);;
  }
  .navbar-collapse button.btn-primary {
    background-color: rgb(40, 134, 238);
    color:#ffffff;
    margin-bottom: 10px;
  }
}