@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
body {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  color: #1f2a55;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainMenu {
  top: 32px !important;
}
.navbar-nav a{
  color: #ffffff !important;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}
.navbar-nav a::before {
 content: ''; 
 position: absolute;
 width: 30px;
 height: 3px;
 border-radius: 3px;
 background-color: #ffffff;
 bottom: 0;
 display: none;
}
.navbar-nav a.active::before {
  display: block;
}
.navbar-nav a:hover {
  color: #fff;
}

.yellow {
  color: #fcda55;
}
.borderClass {
  border-bottom: solid 2px #e2ebef;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 15px;
}
.footer{
  background-image: linear-gradient(82deg, #207cee -3%, #73caf3 119%);
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.footer p {
  margin-bottom: 0;
}
.footer a {
  color: #fff;
  font-weight: 600;
}